/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.header-superior{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px;
    margin-left: 20px;
}
.logo{
    display: flex;
    flex-wrap: nowrap;
}

.logo a img{
    max-width: 20%;
    padding-right: 10em;
}
/* Navegación */
.navbar{
    flex-wrap: nowrap;
}

.navbar ul li a{
    color: white;
    transition: 300ms;
}
.navbar ul li a:hover {
    color: blueviolet;
    transition: 300ms;
}
.navbar ul li a.activo {
    color: #ff0066; /* Color rosa para el enlace activo */
}
.menu-label{
    display: none;
    color: white;
}
.menu-nav{
    display: none;
    width: 100%;
    background: yellow;
    color: white;
    position: absolute;
    top: 70px;
    right: 0px;
    left: 0px;
}

.menu-checkbox{
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar{
        display: none;
    }
    .menu-label{
        display:block;
    }
    .menu-checkbox:checked ~ .menu-nav {
        display: block;
    }
}
@media screen and (max-width: 280px){
    .logo{
        font-size: 5.5vw;
    }
    .footer-inferior{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .links, .direccion{
        width: 100%;
    }
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
}

/*Footer*/
.footer-inferior{
    background-color: aliceblue;
    display: flex;
    justify-content:space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
}
.bienvenida{
    margin-top: 120px;
    padding: 5%;
}
.bienvenida h1{
    font-size: 60px;
    margin-top: 0;
    color: white;
}
.bienvenida h6{
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    height: 10vh;
}
.section-1{
    background-image: url('img/fondo-section1.jpg');
}
.section-2{
    background-image: url('img/fondo-section123.webp');
}

.section-1, .section-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.marca{
    display: flex;
    flex-direction: column;
}
.copyright{
    color: black;
}
.links{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}
.direccion{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 70vh;
    height: 200px;
}
.carta-producto{
    min-width: 25%;
    height: 200px;
    background-image: url('img/star.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0;
}

.carta-producto .fondo-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 150, 0.5); /* Color rosado transparente */
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 50px;
}

.carta-producto .fondo-overlay p{
    opacity: 1;
}

.carta-producto:hover .fondo-overlay{
    opacity: 1;
}

/* Altura de la página para poder hacer scroll */
.section {
    height: 400px;
}

.codigo-promocion{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.codigo-promocion p{
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 10px;
}
.codigo-promocion button a{
    text-decoration: none;
    color: white;
}
.codigo-promocion button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 18px;     
    transition: all 0.3s ease;
    cursor: pointer;
}

.input-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.codigo-promocion input[type="text"] {
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.1em;
    width: 300px;
}

.codigo-promocion input[type="text"]:focus {
    outline: none;
    border-color: lightgray;
}

.codigo-promocion input::placeholder {
    color: white;
    text-align: center;
}

.codigo-promocion small {
    display: none;
}

.codigo-promocion input:focus + small {
    display: block;
}
