/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#1f2b38;
}

.header-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap;
    position: relative;
    padding: 20px;
}
.logo{
    display: flex;
    flex-wrap: nowrap;
}

.logo a img{
    padding-right: 10em;

}
/* Navegación */
.navbar{
    padding-bottom: 50px;
    flex-wrap: nowrap;
}

.navbar-general ul li a{
    color: white;
    transition: 300ms;
}
.navbar-general ul li a:hover {
    color: blueviolet;
    transition: 300ms;
}
.navbar-general ul li a.activo {
    color: #ff0066; /* Color rosa para el enlace activo */
}
.menu-label{
    display: none;
    color: white;
}
.menu-nav{
    display: none;
    width: 100%;
    background: grey;
    color: white;
    position: absolute;
    right: 0px;
    left: 0px;
}
.menu-nav ul li {
    border: 1px solid #6c7284;
}

.menu-checkbox{
    display: none;
}
.logo a img{
    padding: 0;
}
.navbar-general ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar-general ul li {
    margin: 0;
    padding-left: 15px;
}

.navbar-general ul li a {
    text-decoration: none;
    font-weight: bold;
}

.footer-inferior{
    background-color:#6c7284;
    border-top: 2px solid #1c2a3a;
    display: flex;
    justify-content:space-between;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-direction: row;
}
.contacto-header{
    margin-top: 0px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    color: white;
}
.section-contacto{
    height: 25vh;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    background-color: #2b3a4b;
    padding: 40px;
}
.info-item a{
    text-decoration: none;
    color: white;
}
.info-item p {
    margin-bottom: 10px;
}
.info-item hr {
    border: none;
    border-top: 1px solid #6c7284;
    margin: 10px 0;
    opacity: 0.5;
    max-width: 400px;
}
.contact-info {
    flex: 1;
    padding-right: 20px;
}
.contact-info p {
    font-size: 0.9em;
    margin-bottom: 20px;
}
.contact-info a {
    text-decoration: none;
    color: #ccc;
    transition: 0.2s;
}
.contact-info a:hover{
    color: purple;
    transition: 0.3s;
}
.contact-info h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #ccc;
}

.contact-form {
    flex: 1;
    padding-left: 20px;
    color: white;
}
.contact-form b{
    color: red;
}
.contact-form.overlay-form {
    background: #1c2a3a;
    padding: 20px;
    margin-top: -80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    gap: 10px;
}
.form-group2 {
    display: flex;
    flex-direction: column;
}

.form-group input[type="text"] {
    width: 48%;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    border: none;
    color: #fff;
    font-size: 1em;
}
.contact-form textarea{
    resize: vertical;
}

.contact-form button[type="submit"]:hover {
    background-color: #3b79c2;
}

.bienvenida{
    margin-top: 120px;
    padding: 5%;
    color: white;
}
.bienvenida h1, .contacto-header h1{
    font-size: 60px;
    margin-top: 0;
}
.bienvenida h6{
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.contacto-header h6{
    font-size: 20px;
    margin-bottom: 0;
}

.section-1.index{
    background-image: url('img/fondo-section1.jpg');
}
.section-2.index{
    background-image: url('img/fondo-section123.webp');
}

.section-1.consolas{
    background-image: url('img/fondo-section1-consolas.jpg');
}
.section-2.consolas{
    background-image: url('img/fondo-section2-consolas.jpg');
}

.section-1.contacto{
    background-image: url('img/fondo-section1.jpg');
}
.section-2.contacto{
    background-image: url('img/fondo-section123.webp');
}

.section-1, .section-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

.producto-estrella{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    color: #fff;
}
.producto-estrella .text-container{
    flex: 1;
    padding-right: 30px;
}
.contenedor-producto .text-container {
    flex: 1;
    margin-left: 40px;
}
.producto-estrella .text-container h6 {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.producto-estrella .text-container h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.producto-estrella .text-container p {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 30px;
}


.marcas{
    height: 30vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
}
.marcas h1, .marcas h6{
    margin: 0;
}
.texto-marcas{
    width: 80%;
    height: 25%;
    margin-left: 25px;
}
.texto-marcas h6{
    margin-top: 10px;
    padding: 0;
    font-size: 10px;
}
.tabla-marcas{
    width: 100%;
    height: 60%;
}
.fila-marcas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-height: 20vw;
    height: 50%;
    padding: 0;
}
.carta-marca{
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border: 2px solid rgb(186, 184, 184);
    max-height: 100%;
    flex-basis: 20%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.carta-marca img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.logo-footer{
    display: flex;
    flex-direction: column;
}
.copyright{
    color: white;
}
.footer-inferior .links, .footer-inferior .direccion{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.productos{
    height: 500px;
    
}
.productos-header{
    height: 25%;
    padding-left: 25px;
}
.productos-header h1{
    margin-top: 5px;
}
.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:75%;
}
.gift-card{
    background-image: url('img/giftcards.webp');
}
.consolas{
    background-image: url('img/consolas.webp');
}
.videojuegos{
    background-image: url('img/videojuegos.webp');
}
.computadoras{
    background-image: url('img/computadoras.jpg');
}
.text-carta-producto{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5%;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}

.text-carta-producto h1,h6,p{
    padding: 1%;
    margin: 0;
}
.carta-producto{
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding: 0;
    position: relative;
}
@media screen and (max-width: 500px){
    .bienvenida h1, .contacto-header h1{
        font-size: 8vw;
    }
    .bienvenida h6{
        font-size: 2vw;
    }
}

@media (max-width: 760px) {
    .carta-producto {
        width: 100%;
        height: 25%;
    }
    .productos-header{
        height: 5%;
    }
    .contenedor-productos{
        height:95%;
    }
    .productos{
        height: 2000px;
    }
    .contact-container, .producto-estrella, .contenedor-producto{
        flex-direction: column-reverse;
    }
    .contenedor-producto.left{
        flex-direction: column;
    }
    .codigo-promocion p{
        font-size: 5vw;
    }
    .navbar{
        display: none;
    }
    .menu-label{
        display:block;
    }
    .menu-checkbox:checked ~ .menu-nav {
        display: block;
    }
    .footer-inferior{
        padding: 5%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .links, .direccion{
        width: 100%;
    }
    .logo a img{
        max-width: 40vw;
        width: 15vh;
    }
    .menu-nav{
        top: 22vw;
    }
    .producto-estrella .image-container img{
        max-height: 50vw;
    }
    .contenedor-producto .text-container h1{
        font-size: 6vw;
    }
    .contenedor-producto .text-container p{
        font-size: 2vw;
    }
    .contenedor-producto .image-container img {
        max-width: 50%;
        height: 100%;
        margin: 0% 0% -25% 0%;
    }
}

@media (min-width: 760px) {
    .carta-producto {
        width: 50%;
        height: 50%;
    }
    .productos-header{
        height: 15%;
    }
    .contenedor-productos{
        height: 85%;
    }
    .text-carta-producto{
        height: 60%;
    }
    .codigo-promocion p{
        font-size: 40px;
    }
    .logo a img{
        width: 15vh;
    }
    .contenedor-producto .text-container h1 {
        font-size: 48px;
    }
    .contenedor-producto .text-container p{
        font-size: 16px;
    }
    .contenedor-producto{
        flex-direction: row;
    }
    .contenedor-producto .image-container img {
        max-width: 80%;
        height: 100%;
        margin: 0% 0% 0% -100%;
    }
    .contenedor-producto .image-container.left img {
        max-width: 80%;
        height: 100%;
        margin: 0% -100% 0% 0%;
    }
}

@media (min-width: 1024px) {
    .carta-producto {
        width: 25%;
        height: 100%;
    }
    .text-carta-producto{
        height: 30%;
    }
    .codigo-promocion p{
        font-size: 40px;
    }
}

.carta-producto .fondo-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 150, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0;
    position: absolute;
}

.carta-producto:hover .fondo-overlay{
    opacity: 1;
}

/* Altura de la página para poder hacer scroll */
.section {
    max-height: 900px;
    height: 400px;
}

.codigo-promocion{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.codigo-promocion p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-bottom: 10px;
}

.codigo-promocion button, .contact-form button[type="submit"], .producto-estrella .text-container button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 18px;     
    transition: all 0.3s ease;
    cursor: pointer;
}

.codigo-promocion button:hover, .contact-form button[type="submit"]:hover, .producto-estrella .text-container button:hover{
    background-color: #ffffff;
    color: #1f2b38;
    transition: all 0.3s ease;
}

.input-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.codigo-promocion input[type="text"] {
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.1em;
    width: 300px;
}

.codigo-promocion input[type="text"]:focus {
    outline: none;
    border-color: lightgray;
}

.codigo-promocion input::placeholder {
    color: white;
    text-align: center;
}

.codigo-promocion small {
    display: none;
}

.codigo-promocion input:focus + small {
    display: block;
}

.contenedor-producto {
    border-top: 2px solid rgb(186, 184, 184, 0.3);
    border-bottom: 1px solid rgb(186, 184, 184, 0.3);
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
}
.contenedor-producto .text-container{
    padding-right: 10vw;
    padding-left: 5vw;
    color: white;
}
.contenedor-producto .text-container h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

.contenedor-producto .text-container p {
    color: #b0b0b0;
    margin-bottom: 20px;
    height: 100%;
}

.contenedor-producto .image-container.ps5{
    background-image: url('img/ps5-fondo.jpg');
}
.contenedor-producto .image-container.switch{
    background-image: url('img/switch-fondo.webp');
}
.contenedor-producto .image-container.xbox{
    background-image: url('img/xbox-fondo.png');
}

.contenedor-producto .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 100%;
    padding: 95px 95px 95px 95px;
}